

<nav class="container navbar navbar-expand-lg navbar-dark bg-dark w-25 user-select-none">
  <div class="container-fluid">
    <ul class="navbar-nav">
      {{#if user}}
      <div class="Mydropdown d-flex m-3 p-2">
        <img src="{{user.imgPerfil}}" class="rounded-circle" height="40" alt="#">
        <div class="Mydropdown-content" aria-labelledby="dropdownMenuButton">
          <ul class="p-2" style="list-style: none;">
            <li><a class="dropdown-item" href="/">Inicio</a></li>
            <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
            <hr>
            <li><a class="dropdown-item mt-2" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      {{/if}}


    </ul>
  </div>
</nav>

