<div class="divForButtonChatIndex container">


    <form action="/chat">
        <button class="custom-btn btn-center" style="padding: 10px;"><span>Chat Privado</span></button>
    </form>


</div>


<div class="container" id="searchDiv">
    <label>Ver informações de um usuário.</label>
    <hr>
    <form method="get" id="search">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text text-dark" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control text-dark" placeholder="Nome de Usuário" aria-label="Username"
                aria-describedby="basic-addon1" id="searchUser">
        </div>

    </form>

</div>



<script defer src="src/search.js"></script>