<div class="container bg-dark">

<h2 class="display-3 container" style="color: darkmagenta;">Ola {{user.usuario}}</h2>



<button class="custom-btn btn-center" style="padding: 10px;"><a href="/chat"><span>Iniciar chat</span></a></button>

</div>