<div class="divForButtonChatIndex">


    <form action="/chat">
        <button class="custom-btn btn-center" style="padding: 10px;"><span>Chat Privado</span></button>
    </form>


</div>





<footer class="container footerIndex">
    <div class="row footerRow">


        <div class="col-md pt-4">
            <h3>Projeto First Ocean</h3>
            <img height="80px" src="img/squirrel.gif" alt="esquilo em pixels correndo">
            <p>Criado por: (Darkest)</p>
        </div>


    </div>
</footer>