@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

* {
  scroll-behavior: smooth;
  color: aliceblue !important;
  font-family: 'Fauna One', serif;
}


body {
  background-color: #1a192c !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

a {
  text-decoration: none;
}

@media only screen and (max-width: 320px) {
  #navbarDiv {
    background: none !important;
  }

  .Mydropdown {
    display: block;
  }
}


.Mydropdown {
  position: relative;
  display: inline-block;
  color: rgb(50, 50, 51);
}


.Mydropdown-content {
  display: none;
  position: absolute;
  background-color: #282727;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.Mydropdown:hover .Mydropdown-content {
  display: block;
  margin-top: 45px;
  background-color: #323232;

}

li .dropdown-item:hover {
  background-color: #434242;
}



/* REGISTER AND LOGIN STYLE*/


/*ALERTS*/
.myBgDark {
  background-color: rgb(82, 5, 121) !important;
  border-color: black !important;
}


.mySection {
  box-shadow: 0px 8px 16px 16px rgba(0, 0, 0, 0.389);


}

.formRL {
  text-align: center;

}

.formRL label {
  font-size: 16px;
  padding-top: 15px;
}

.formRL input {
  background: none !important;
  outline: 0;
  border: 0;
  border-bottom: 2px solid blueviolet;
  border-radius: 2px;
  text-decoration: none;
  width: 140px;
  height: 25px;
}

.formRL input[type="radio"] {
  margin: 10px;
  height: 15px;
  width: 15px;
}

.formRL .labelRadio {
  color: aliceblue !important;
  padding: 0px !important;
}

.formRL .PhotoSelect {
  display: inline-block;
}

.formRL .imgP {
  padding: 8px;

}


button {
  margin: 20px;
  outline: none;
}

.custom-btn {
  width: 130px;
  height: 48px;
  padding: 10px 25px;
  border: 3px solid rgb(69, 5, 90);
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;


}

.btn-register {
  padding: 0;
}

.btn-center {
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.btn-center a {
  text-decoration: none;
}


/* index div button  */
.divForButtonChatIndex {
  margin-top: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;

}

#searchDiv {
  margin-top: 30px !important;
  text-align: center;
  width: 250px;
  padding: 20px;
  border: 2px #151414 solid;
}

#searchDiv label {
  font-size: 12px !important;
  margin: 3px;
}















/* CHAT STYLE*/

.hiddenOpt {
  display: none;
}

#contain {
  height: 700px;
  max-height: 700px;
}

.bgDarkChat {
  margin-bottom: 50px;
  background-color: black;
  box-sizing: border-box;
  height: 100%;
  max-height: 800px;

  background: rgba(0, 0, 0, 0.355);
  border-radius: 16px;
  border: 1px solid rgba(30, 26, 26, 0.3);
}


.chat {
  height: 692px;
  max-height: 692px;
  margin: 10px;
}



#messagesSec {
  position: relative;
  overflow-y: scroll;
  height: 400px;
  max-height: 400px;


}

#messagesSec::-webkit-scrollbar {
  width: 12px;
}

#messagesSec::-webkit-scrollbar-track {
  background: transparent;
}

#messagesSec::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 51);
  border-radius: 20px;
  border: 3px solid rgb(60, 60, 60);
}

.gradient-custom {
  height: 620px;
  background: rgba(51, 0, 57, 0.355);
  border-radius: 16px;
  border: 1px solid rgba(30, 26, 26, 0.3);
}

.mask-custom {
  background: rgba(24, 24, 16, 0.913);
  border-radius: 2em;
}



.customTextArea {
  resize: none;
}

#newChatButtonDiv {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#newChatBtn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;

  color: #FFF;
  transition: all 0.5s;
  position: relative;

}

#newChatBtn span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#newChatBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(113, 4, 106, 0.89);
  background-color: rgba(56, 29, 29, 0.665);
}

#newChatBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(113, 4, 106, 0.89);
  background-color: rgba(56, 29, 29, 0.665);
}

#newChatBtn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

#newChatBtn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.logo {
  width: 100px !important;
  display: block;
  margin-left: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: auto;
}

