<div style="
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;">

    <h3>Permissão negada ou página não existente.</h3>
    <p class="text-danger">Error 401 / 404</p>
    <img class="my-3 rounded-circle" src="https://media4.giphy.com/media/7zJgqvSbjBH2M/200.gif" alt="Oceano">
</div>